body {
  font-family: "Open Sans", "Roboto",  sans-serif!important;
  font-weight: 300;
  /* Fixes footer to bottom of page (1): */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

h4, h5 {
  font-family: "Oswald" !important;
  font-weight: 100!important;
}
/* Fixes footer to bottom of page (2):*/
main {
  flex: 1 0 auto;
}
.bold-font{
  font-weight: bold!important;
}
.page-break{
  height: 10vh;
}
.box {
  height: 50vh;
}
.dubble-box{
  height: 100vh;
}
.box-for-large{
  height: 70vh;
}
.box-for-form{
  height: 100vh;+
}
.small-box {
  height: 40vh;
  overflow: auto;
}
.x-small-box{
  height: 25vh;
  overflow: auto;
}
.logo-size-l {
  height: 340px;
  width: 400px;
  margin: auto;
}
.logo-size-s {
  height: 170px;
  width: 200px;
  margin: auto;
}
.img-type-1{
  height: 50vh;
  background-size: cover;
}
.img-type-1-for-large{
  height: 70vh;
  background-size: cover;
}
.house-img {
  background-image: url("../img/image002.png");
}
.yard-img{
  background-image: url("../img/image003.jpg");
}
.grass-img{
  background-image: url("../img/image005.jpg");
}
.side-by-side-img {
  height: 45vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.line-break{
  border-bottom: 2px solid #007CC9;
}
.obs-border{
  border-bottom: 2px solid red;
  border-top: 2px solid red;
}

/* PRELOADER CSS */
#preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: #fff;
}

/* different devices */

/**
*   Large screens: ( > 800px )
**/
.titleText {
  font-size: 55px!important;
  line-height:50px!important;
}

.subtitleText {
  font-size: 35px!important;
}

.breadText {
  font-size: 28px!important;
}
.tinyText {
  font-size: 24px!important;
}

/**
*  MEDIUM PHONES & PADS 600px - 800px
***/
@media screen and (max-width: 800px) {
  .titleText {
    font-size: 45px!important;
    line-height:50px!important;
  }

  .subtitleText {
    font-size: 26px!important;
  }

  .breadText {
    font-size: 24px!important;
  }
  .tinyText {
    font-size: 20px!important;
  }

  .btn-large {
    transform: scale(1.35)!important;
  }
  .modal .btn-large {
    margin:20px;
  }
}

/**
*  SMALL PHONES 0 - 600px
***/
@media screen and (max-width: 600px) {
  .titleText {
    font-size: 30px!important;
    line-height:50px!important;
  }

  .subtitleText {
    font-size: 24px!important;
  }

  .breadText {
    font-size: 20px!important;
  }
  .tinyText {
    font-size: 16px!important;
  }

  .btn-large {
    transform: scale(1.3)!important;
  }
}

/* Color schema */
.elliot-blue{
  background-color: #007CC9!important;
}
.elliot-blue-text{
  color: #007CC9!important;
}
#grad {
  background-image: linear-gradient(to right, #007CC9 , yellow);
}

/******* form colors *********/

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input:focus + label {
     color: #007CC9!important;
   }
   .input-field input:focus {
     border-bottom: 1px solid #007CC9!important;
     box-shadow: 0 1px 0 0 #007CC9!important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #4caf50!important;
     box-shadow: 0 1px 0 0 #4caf50!important;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #f44336!important;
     box-shadow: 0 1px 0 0 #f44336!important;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #007CC9!important;
   }
